*{
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
}
.container{
    display: flex;
    text-align: center;
    margin: auto;
    width: 800px;
}
.voilt{
    background: rgb(102, 66, 254);
    color:white;
    border-radius: 15px;
    height: 500px;
    width: 50%;
    padding: 0 50px;

}
.voilt p:last-child{
    font-weight: 400;
}
.cycle{
    background-image: linear-gradient(rgb(72, 34, 238),rgb(102, 66, 254));
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: auto;
    padding: 20px;
}
.cycle p:first-child{
    font-size: 45px;
    font:bold;
}
.cycle p:last-child{
    font-size: 20px;
    color: rgb(168, 175, 175);
}
.white{
    width: 50%;
    padding: 0 50px;
}
.white h1{
    text-align: start;
}
.summary-child{
    display: flex;
    padding: 0 15px;
    justify-content: space-between;
    background: #FFF6F5;
    margin: 10px 0;
    border-radius: 15px;
}
.summary-child p:last-child{
    padding-left: 70px;
}
.summary-child i{
    padding: 15px;;
}
.red{
    color: #D98A8D;
}
.yellow{
    color: #E6BD61;
}
.green{
    color: #68BBA7;
}.blue{
    color: #253292;
}
button{
    width: 100%;
    height: 54px;
    border-radius: 15px;
    border: none;
    background: #303B59;
    color: white;
}
span{
    color: #9F9AA1;
}
.attribution { font-size: 11px; text-align: center; min-width: 100%; }
.attribution a { color: hsl(228, 45%, 44%); }
@media (max-width:767px) {
    .container{
        flex-direction: column;
    }
    .attribution{
        width: 100%;
    }
}
